# comments
# Символ (*) соответствует 0 или более символам; 
# последовательность [abc] — любому символу из указанных в скобках (в данном примере a, b или c); 
# знак вопроса (?) соответствует одному символу; 
# квадратные скобки, в которые заключены символы, разделённые дефисом ([0-9]), соответствуют любому символу из интервала (в данном случае от 0 до 9). 
# Вы также можете использовать две звёздочки, чтобы указать на вложенные каталоги: a/**/z соответствует a/z, a/b/z, a/b/c/z, и так далее.

# Игнорировать все файлы заканчивающиеся на тильду (~), которая используется во многих текстовых редакторах для обозначения временных файлов.
#*~

# Исключить все файлы с расширением .a
#*.a

# Но отслеживать файл lib.a даже если он подпадает под исключение выше
#!lib.a

# Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
#/TODO

# Игнорировать все файлы в каталоге build/
#build/

# Игнорировать файл doc/notes.txt, но не файл doc/server/arch.txt
#doc/*.txt

# Игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt


readme.txt
.vs
**/bin/**
**/obj/**

